---
- name: APT update
  apt: upgrade=dist force_apt_get=yes

- name: Install vim, htop, git, zsh
  apt: name={{ item }} state=present update_cache=yes
  loop: [ 'vim', 'htop', 'git-all', 'zsh', 'ruby' ]

- name: Install required system packages for Docker
  apt: name={{ item }} state=latest update_cache=yes
  loop: [ 'apt-transport-https', 'ca-certificates', 'curl', 'software-properties-common', 'python-pip', 'virtualenv', 'python3-setuptools']

- name: Add Docker GPG apt Key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker Repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu bionic stable
    state: present

- name: Update apt and install docker-ce
  apt: update_cache=yes name=docker-ce state=latest

- name: Install Docker Module for Python
  pip:
    name: docker

- name: Install source list
  apt:
    deb: "https://apt.puppetlabs.com/puppetlabs-release-pc1-jessie.deb"
    state: "present"

- name: Update cache
  apt:
    update_cache: "yes"

- name: Install puppet
  apt:
    name: "puppet-agent"
    state: "present"

- name: Start puppet
  service:
    name: 'puppet.service'
    enabled: 'yes'
    state: 'started'

...